<h2>Hola desde Careers</h2>
@{
    ViewData["Title"] = "Careeer";
}


<h2>Career</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>NameCareer</th>
            <th>Name University</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var career in Model)
        {
            <tr>
                <td>@career.Id</td>
                <td>@career.NameCareer</td>
            </tr>
        }
        
    </tbody>
</table>